@import "https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

svg {
  width: 14%;
  margin-right: 3rem;
}

@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  svg {
    width: 10%;
    margin-right: 1rem;
  }
}
.heading-main {
  color: #535461;
  font-size: 7rem;
  font-weight: 600;
}

.heading-sub {
  color: #cceae7;
  font-size: 3.5rem;
}

.text-primary {
  font-size: 2.5rem;
  color: #535461;
}

.heading-primary {
  font-size: 5rem;
  color: #009688;
  font-weight: 700;
  position: relative;
}
@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .heading-primary {
    font-size: 4.5rem;
    color: #009688;
    font-weight: 700;
    position: relative;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .heading-primary {
    font-size: 3.5rem;
    color: #009688;
    font-weight: 700;
    position: relative;
  }
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .heading-primary {
    font-size: 3rem;
    color: #009688;
    font-weight: 700;
    position: relative;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .heading-primary {
    font-size: 3rem;
    color: #009688;
    font-weight: 700;
    position: relative;
  }
}

.heading-secondary {
  color: #cceae7;
  font-weight: 700;
}

.text-secondary {
  font-size: 1.8rem;
  color: #535461;
}

.heading-tertiary {
  font-size: 2rem;
  color: #009688;
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .heading-tertiary {
    margin-top: 10rem;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .heading-tertiary {
    margin-top: 10rem;
  }
}

@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .heading-sub {
    color: #535461;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .heading-main {
    color: #cceae7;
    font-size: 6rem;
    font-weight: 600;
  }

  .heading-sub {
    color: #535461;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .heading-main {
    color: #cceae7;
    font-size: 5rem;
    font-weight: 600;
  }

  .heading-sub {
    color: #535461;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .heading-main {
    color: #cceae7;
    font-size: 4rem;
    font-weight: 600;
  }

  .heading-sub {
    color: #535461;
    font-size: 2rem;
  }
}
.u-margin-tb-small {
  margin: 0.5rem 0;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-large {
  margin-top: 6rem;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #cceae7;
  text-align: center;
  color: #535461;
}
.btn--primary {
  position: absolute;
  font-size: 2.5rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
}
.btn--secondary {
  background-color: #009688;
  color: #cceae7;
  position: absolute;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
}

@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .btn {
    background-color: #cceae7;
    text-align: center;
    color: #535461;
  }
  .btn--primary {
    position: absolute;
    font-size: 2rem;
    padding: 1.3rem 2.7rem;
    border-radius: 3rem;
  }
}
@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .btn {
    background-color: #cceae7;
    text-align: center;
    color: #535461;
  }
  .btn--primary {
    position: absolute;
    font-size: 2rem;
    padding: 1.3rem 2.7rem;
    border-radius: 3rem;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .btn {
    background-color: #cceae7;
    text-align: center;
    color: #535461;
  }
  .btn--primary {
    position: absolute;
    font-size: 1.8rem;
    padding: 1rem 2.6rem;
    border-radius: 3rem;
  }
}
@media only screen and (min-width: 31.5em) and (max-width: 47.875em) {
  .btn {
    background-color: #cceae7;
    text-align: center;
    color: #535461;
  }
  .btn--primary {
    position: absolute;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .btn {
    background-color: #cceae7;
    text-align: center;
    color: #535461;
  }
  .btn--primary {
    position: absolute;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
  }
}
.form-control {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
.form-control__label {
  font-size: 2rem;
  color: #009688;
  margin-bottom: 1rem;
}
.form-control__input {
  width: 80%;
  padding: 0.5rem;
  height: 3rem;
}
.form-control__textarea {
  width: 82%;
  padding: 0.5rem;
  font-size: 2rem;
}

.form {
  position: relative;
  margin-top: 2rem;
}
.form:before {
  position: absolute;
  content: "";
  height: 2.5px;
  width: 28rem;
  background-color: #009688;
  left: 0rem;
  top: -1.5rem;
}

@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .form-control {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  .form-control__label {
    font-size: 2rem;
    color: #009688;
    margin-bottom: 1rem;
  }
  .form-control__input {
    width: 100%;
    padding: 0.5rem;
    height: 3rem;
  }
  .form-control__textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .form {
    position: relative;
    margin-top: 2rem;
  }
  .form:before {
    position: absolute;
    content: "";
    height: 2.5px;
    width: 26rem;
    background-color: #009688;
    left: 0rem;
    top: -1.5rem;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .form-control {
    display: flex;
    flex-direction: column;
  }
  .form-control__label {
    font-size: 1.7rem;
    color: #009688;
    margin-bottom: 1rem;
  }
  .form-control__input {
    width: 100%;
    padding: 0.5rem;
    height: 2.5rem;
  }
  .form-control__textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .form {
    position: relative;
    margin-top: 2rem;
  }
  .form:before {
    position: absolute;
    content: "";
    height: 2.5px;
    width: 20.5rem;
    background-color: #009688;
    left: 0rem;
    top: -1.5rem;
  }
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .form-control {
    display: flex;
    flex-direction: column;
  }
  .form-control__label {
    font-size: 1.7rem;
    color: #009688;
    margin-bottom: 1rem;
  }
  .form-control__input {
    width: 100%;
    padding: 0.5rem;
    height: 2rem;
  }
  .form-control__textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .form {
    position: relative;
    margin-top: 2rem;
  }
  .form:before {
    position: absolute;
    content: "";
    height: 2.5px;
    width: 18rem;
    background-color: #009688;
    left: 0rem;
    top: -1.5rem;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .form-control {
    display: flex;
    flex-direction: column;
  }
  .form-control__label {
    font-size: 1.7rem;
    color: #009688;
    margin-bottom: 1rem;
  }
  .form-control__input {
    width: 100%;
    padding: 0.5rem;
    height: 2rem;
  }
  .form-control__textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .form {
    position: relative;
    margin-top: 2rem;
  }
  .form:before {
    position: absolute;
    content: "";
    height: 2.5px;
    width: 18rem;
    background-color: #009688;
    left: 0rem;
    top: -1.5rem;
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 70;
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#cceae7, #009688);
  z-index: 50;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.8s cubic-bezier(0, -0.39, 0.03, 1.22);
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0, -0.39, 0.03, 1.22);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.5s;
  margin-top: 2rem;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #009688;
  transform: translateX(1rem);
  padding: 0 1rem;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: darkgrey;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 37.5em) {
  .navigation__checkbox {
    display: none;
  }
  .navigation__button {
    background-color: white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 70;
    text-align: center;
    cursor: pointer;
  }
  .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#cceae7, #009688);
    z-index: 50;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.8s cubic-bezier(0, -0.39, 0.03, 1.22);
  }
  .navigation__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0, -0.39, 0.03, 1.22);
  }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .navigation__item {
    margin: 1rem;
  }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all 0.5s;
  }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: green;
    transform: translateX(1rem);
  }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
  }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }
  .navigation__icon {
    position: relative;
    margin-top: 2.5rem;
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: darkgrey;
    display: inline-block;
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -0.8rem;
  }
  .navigation__icon::after {
    top: 0.8rem;
  }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
.landing {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  height: 96vh;
  border: 1px solid #cceae7;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: #009688;
  -webkit-clip-path: polygon(0 0, 100% 0, 67% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  position: relative;
}
.left__heading {
  position: absolute;
  transform: translate(-17%, -20%);
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
.right__mainpic {
  width: 55%;
}

@media only screen and (min-width: 85.625em) and (max-width: 100.31em) {
  .left__heading {
    position: absolute;
    transform: translate(-7%, -20%);
  }

  .right__mainpic {
    width: 65%;
  }
}
@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .left__heading {
    position: absolute;
    transform: translate(-10%, -20%);
  }

  .right__mainpic {
    width: 65%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .landing {
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #cceae7;
  }

  .left {
    width: 100%;
    height: 160rem;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
  }
  .left__heading {
    position: absolute;
    transform: translate(0%, -50%);
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .right__mainpic {
    width: 35%;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .landing {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #cceae7;
  }

  .left {
    width: 100%;
    height: 160rem;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
  }
  .left__heading {
    position: absolute;
    transform: translate(-5%, -50%);
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .right__mainpic {
    width: 35%;
  }
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .landing {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #cceae7;
  }

  .left {
    width: 100%;
    height: 160rem;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
  }
  .left__heading {
    position: absolute;
    transform: translate(0%, -50%);
  }

  .right {
    display: none;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .landing {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #cceae7;
  }

  .left {
    width: 100%;
    height: 160rem;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
  }
  .left__heading {
    position: absolute;
    transform: translate(0%, -50%);
  }

  .right {
    display: none;
  }
}
.aboutme {
  background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
  border: 1px solid #cceae7;
  height: 96vh;
  display: flex;
  align-items: stretch;
  margin: 2rem;
  position: relative;
}
.aboutme .personal {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 60%;
  height: 100%;
  background-color: #009688;
  -webkit-clip-path: polygon(0 0, 100% 0, 67% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  position: relative;
}
.aboutme .personal .content {
  position: absolute;
  transform: translate(35%, 20%);
  width: 50%;
}
.aboutme .personal__shape {
  width: 45rem;
  height: 45rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin: auto auto;
}
.aboutme .personal__shape--img {
  width: 100%;
}
.aboutme .personal__text {
  font-size: 3rem;
  margin: 2rem auto;
}
.aboutme .imgbox {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 2rem;
  top: 8rem;
}
.aboutme .imgbox__img {
  width: 100%;
}

@media only screen and (min-width: 85.625em) and (max-width: 100.31em) {
  .aboutme {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    display: flex;
    align-items: stretch;
    margin: 2rem;
    position: relative;
  }
  .aboutme .personal {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 60%;
    height: 100%;
    background-color: #009688;
    -webkit-clip-path: polygon(0 0, 100% 0, 67% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    position: relative;
  }
  .aboutme .personal .content {
    position: absolute;
    transform: translate(35%, 15%);
    width: 50%;
  }
  .aboutme .personal__shape {
    width: 42rem;
    height: 42rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: auto auto;
  }
  .aboutme .personal__shape--img {
    width: 100%;
  }
  .aboutme .personal__text {
    font-size: 3rem;
    margin: 2rem auto;
  }
  .aboutme .imgbox {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 2rem;
    top: 24rem;
  }
  .aboutme .imgbox__img {
    width: 100%;
  }
}
@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .aboutme {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    display: flex;
    align-items: stretch;
    margin: 2rem;
    position: relative;
  }
  .aboutme .personal {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 60%;
    background-color: #009688;
    -webkit-clip-path: polygon(0 0, 100% 0, 67% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    position: relative;
  }
  .aboutme .personal .content {
    position: absolute;
    transform: translate(35%, 15%);
    width: 50%;
  }
  .aboutme .personal__shape {
    width: 40rem;
    height: 40rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: auto auto;
  }
  .aboutme .personal__shape--img {
    width: 100%;
  }
  .aboutme .personal__text {
    font-size: 3rem;
    margin: 2rem auto;
  }
  .aboutme .imgbox {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 4rem;
    top: 23rem;
  }
  .aboutme .imgbox__img {
    width: 100%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .aboutme {
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .aboutme .personal {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  }
  .aboutme .personal .content {
    width: 50%;
    position: absolute;
    transform: translate(45%, 3%);
    text-align: center;
  }
  .aboutme .personal__shape {
    width: 30rem;
    height: 30rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: auto auto;
  }
  .aboutme .personal__shape--img {
    width: 100%;
  }
  .aboutme .personal__text {
    font-size: 2.5rem;
    margin: 1rem auto;
  }
  .aboutme .imgbox {
    width: 100%;
    position: absolute;
    top: 54rem;
    left: 27rem;
  }
  .aboutme .imgbox__img {
    width: 50%;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .aboutme {
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .aboutme .personal {
    width: 100%;
    height: 65%;
    position: absolute;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  }
  .aboutme .personal .content {
    width: 50%;
    position: absolute;
    transform: translate(45%, 15%);
    text-align: center;
  }
  .aboutme .personal__shape {
    width: 25rem;
    height: 25rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: auto auto;
  }
  .aboutme .personal__shape--img {
    width: 100%;
  }
  .aboutme .personal__text {
    font-size: 2.5rem;
    margin: 1rem auto;
  }
  .aboutme .imgbox {
    width: 100%;
    position: absolute;
    top: 58rem;
    left: 25rem;
  }
  .aboutme .imgbox__img {
    width: 50%;
  }
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .aboutme {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .aboutme .personal {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }
  .aboutme .personal .content {
    width: 90%;
    position: absolute;
    transform: translate(5%, 20%);
    text-align: center;
  }
  .aboutme .personal__shape {
    width: 25rem;
    height: 25rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: auto auto;
  }
  .aboutme .personal__shape--img {
    width: 100%;
  }
  .aboutme .personal__text {
    font-size: 2.5rem;
    margin: 1rem auto;
  }
  .aboutme .imgbox {
    display: none;
  }
  .aboutme .imgbox__img {
    display: none;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .aboutme {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .aboutme .personal {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }
  .aboutme .personal .content {
    width: 90%;
    position: absolute;
    top: 8%;
    left: -25%;
    text-align: center;
  }
  .aboutme .personal__shape {
    width: 20rem;
    height: 20rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: auto auto;
  }
  .aboutme .personal__shape--img {
    width: 100%;
  }
  .aboutme .personal__text {
    font-size: 2rem;
    margin: 1rem auto;
  }
  .aboutme .imgbox {
    display: none;
  }
  .aboutme .imgbox__img {
    display: none;
  }
}
.contact {
  background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
  border: 1px solid #cceae7;
  padding: 2.5rem;
}
.contact__box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 130rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.contact__box--left {
  width: 50%;
  margin: auto 0;
  padding: 2rem;
}
.contact__box--right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem 0;
  height: 100%;
}
.contact__box--icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__box--img {
  width: 100%;
  height: 100%;
}

.icons {
  width: 7%;
  padding: 0 2rem;
  transition: 0.3s all;
}
.icons:hover {
  transform: translateY(0.5rem);
}

@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .contact__box {
    width: 110rem;
  }
  .contact__box--left {
    width: 50%;
    margin: auto 0;
    padding: 2rem;
  }
  .contact__box--right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem 0;
    height: 100%;
  }
  .contact__box--img {
    width: 90%;
    height: 100%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .contact {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    padding: 2.5rem;
  }
  .contact__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95rem;
    padding: 1rem 0;
  }
  .contact__box--left {
    width: 50%;
    margin: auto 0;
    padding: 1rem;
  }
  .contact__box--right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 0;
    height: 100%;
  }
  .contact__box--icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__box--img {
    width: 100%;
    height: 100%;
  }

  .icons {
    width: 10%;
    padding: 0 2rem;
    transition: 0.3s all;
  }
  .icons:hover {
    transform: translateY(0.5rem);
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .contact {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    overflow: hidden;
  }
  .contact__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contact__box--left {
    width: 60%;
  }
  .contact__box--right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 0;
  }
  .contact__box--icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__box--img {
    width: 100%;
  }

  .icons {
    width: 10%;
    padding: 0 2rem;
    transition: 0.3s all;
  }
  .icons:hover {
    transform: translateY(0.5rem);
  }
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .contact {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    overflow: hidden;
  }
  .contact__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contact__box--left {
    width: 70%;
  }
  .contact__box--right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 0;
  }
  .contact__box--icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__box--img {
    display: none;
  }

  .icons {
    margin-top: 2rem;
    width: 12%;
    padding: 0 2rem;
    transition: 0.3s all;
  }
  .icons:hover {
    transform: translateY(0.5rem);
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .contact {
    background-image: linear-gradient(0deg, rgba(204, 234, 231, 0.8), white);
    border: 1px solid #cceae7;
    overflow: hidden;
  }
  .contact__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contact__box--left {
    width: 70%;
  }
  .contact__box--right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 0;
  }
  .contact__box--icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__box--img {
    display: none;
  }

  .icons {
    margin-top: 2rem;
    width: 18%;
    padding: 0 2rem;
    transition: 0.3s all;
  }
  .icons:hover {
    transform: translateY(0.5rem);
  }
}
.portfolio {
  margin: 2rem 2rem;
  height: 96vh;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(0, 150, 136, 0.4), white);
  position: relative;
}
.portfolio__heading {
  position: absolute;
  left: 11%;
  top: 15%;
}
.portfolio__img {
  position: absolute;
  width: 20%;
  left: 7%;
  top: 40%;
  transition: all 0.4s;
  -webkit-box-shadow: 10px 16px 26px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 16px 26px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 16px 26px -3px rgba(0, 0, 0, 0.4);
}
.portfolio__img:hover {
  transform: translate(0.5rem, 1rem);
}

.projects {
  width: 100rem;
  margin: 8rem 35%;
  display: grid;
  grid-template-rows: 35rem 35rem;
  grid-template-columns: repeat(3, 1fr);
  font-size: 2rem;
  grid-gap: 3rem;
}
.projects__single {
  z-index: 4;
  background: white;
  border: 1px solid rgba(0, 150, 136, 0.4);
  -webkit-box-shadow: 10px 16px 26px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 16px 26px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 16px 26px -3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.projects__single:hover {
  transform: translate(0.8rem, 1.2rem);
}
.projects__single:hover img {
  transition: 0.5s all;
  transform: scale(2);
  background-color: rgba(0, 150, 136, 0.4);
}
.projects__single:hover .project__single--content {
  bottom: 0;
}
.projects .project__single--img {
  width: 100%;
  height: 100%;
}
.projects .project__single--content {
  position: absolute;
  left: 0;
  bottom: -5.5rem;
  padding: 1rem;
  background-color: #cceae7;
  font-size: 2rem;
  transition: all 0.5s;
}

@media only screen and (min-width: 85.625em) and (max-width: 100.31em) {
  .portfolio {
    display: flex;
    min-height: 96vh;
    height: auto;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0, 150, 136, 0.8), white);
    position: relative;
  }
  .portfolio__heading {
    position: absolute;
    top: 0;
    left: 40%;
  }
  .portfolio__img {
    display: none;
  }

  .projects {
    width: 120rem;
    margin: 16% auto;
    display: grid;
    grid-template-rows: 32rem 32rem;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2rem;
    grid-gap: 3rem;
  }
  .projects__single {
    z-index: 4;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  .projects__single:hover img {
    transition: 0.5s all;
    transform: scale(2);
    background-color: rgba(0, 150, 136, 0.4);
  }
  .projects__single:hover .project__single--content {
    bottom: 0;
  }
  .projects .project__single--img {
    width: 100%;
    height: 100%;
  }
  .projects .project__single--content {
    position: absolute;
    left: 0;
    bottom: -5.5rem;
    padding: 1rem;
    background-color: rgba(0, 150, 136, 0.9);
    font-size: 2rem;
    transition: all 0.5s;
  }
}
@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0, 150, 136, 0.8), white);
    position: relative;
  }
  .portfolio__heading {
    position: absolute;
    top: 0;
    left: 40%;
  }
  .portfolio__img {
    display: none;
  }

  .projects {
    width: 110rem;
    margin: 22rem auto 2rem auto;
    display: grid;
    grid-template-rows: 30rem 30rem;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2rem;
    grid-gap: 3rem;
  }
  .projects__single {
    z-index: 4;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  .projects__single:hover img {
    transition: 0.5s all;
    transform: scale(2);
    background-color: rgba(0, 150, 136, 0.4);
  }
  .projects__single:hover .project__single--content {
    bottom: 0;
  }
  .projects .project__single--img {
    width: 100%;
    height: 100%;
  }
  .projects .project__single--content {
    position: absolute;
    left: 0;
    bottom: -5.5rem;
    padding: 1rem;
    background-color: rgba(0, 150, 136, 0.9);
    font-size: 2rem;
    transition: all 0.5s;
  }
}
@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
    height: auto;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0, 150, 136, 0.8), white);
    position: relative;
  }
  .portfolio__heading {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    margin: 0 auto;
  }
  .portfolio__img {
    display: none;
  }

  .projects {
    width: 80rem;
    margin: 20rem auto;
    display: grid;
    grid-template-rows: 35rem 35rem 35rem;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
    grid-gap: 3rem;
  }
  .projects__single {
    z-index: 4;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  .projects__single:hover img {
    transition: 0.5s all;
    transform: scale(2);
    background-color: rgba(0, 150, 136, 0.4);
  }
  .projects__single:hover .project__single--content {
    bottom: 0;
  }
  .projects .project__single--img {
    width: 100%;
    height: 100%;
  }
  .projects .project__single--content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5.5rem;
    padding: 1rem;
    background-color: rgba(0, 150, 136, 0.9);
    font-size: 2rem;
    transition: all 0.5s;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .portfolio {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
    height: auto;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0, 150, 136, 0.8), white);
    position: relative;
  }
  .portfolio__heading {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    margin: 0 auto;
  }
  .portfolio__img {
    display: none;
  }

  .projects {
    width: 40rem;
    margin: 20rem auto;
    display: grid;
    grid-template-rows: 30rem;
    grid-template-columns: repeat(1, 1fr);
    font-size: 2rem;
    grid-gap: 3rem;
  }
  .projects__single {
    z-index: 4;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  .projects__single:hover img {
    transition: 0.5s all;
    transform: scale(2);
    background-color: rgba(0, 150, 136, 0.4);
  }
  .projects__single:hover .project__single--content {
    bottom: 0;
  }
  .projects .project__single--img {
    width: 100%;
    height: 100%;
  }
  .projects .project__single--content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5.5rem;
    padding: 1rem;
    background-color: rgba(0, 150, 136, 0.9);
    font-size: 2rem;
    transition: all 0.5s;
  }
}
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .portfolio {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
    height: auto;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0, 150, 136, 0.8), white);
    position: relative;
  }
  .portfolio__heading {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    margin: 0 auto;
  }
  .portfolio__img {
    display: none;
  }

  .projects {
    width: 40rem;
    margin: 20rem auto;
    display: grid;
    grid-template-rows: 30rem;
    grid-template-columns: repeat(1, 1fr);
    font-size: 2rem;
    grid-gap: 3rem;
  }
  .projects__single {
    z-index: 4;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  .projects__single:hover img {
    transition: 0.5s all;
    transform: scale(2);
    background-color: rgba(0, 150, 136, 0.4);
  }
  .projects__single:hover .project__single--content {
    bottom: 0;
  }
  .projects .project__single--img {
    width: 100%;
    height: 100%;
  }
  .projects .project__single--content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5.5rem;
    padding: 1rem;
    background-color: rgba(0, 150, 136, 0.9);
    font-size: 2rem;
    transition: all 0.5s;
  }
}
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .portfolio {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
    height: auto;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(0, 150, 136, 0.8), white);
    position: relative;
  }
  .portfolio__heading {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    margin: 0 auto;
  }
  .portfolio__img {
    display: none;
  }

  .projects {
    width: 30rem;
    margin: 20rem auto;
    display: grid;
    grid-template-rows: 25rem;
    grid-template-columns: repeat(1, 1fr);
    font-size: 2rem;
    grid-gap: 3rem;
  }
  .projects__single {
    z-index: 4;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  .projects__single:hover img {
    transition: 0.5s all;
    transform: scale(2);
    background-color: rgba(0, 150, 136, 0.4);
  }
  .projects__single:hover .project__single--content {
    bottom: 0;
  }
  .projects .project__single--img {
    width: 100%;
    height: 100%;
  }
  .projects .project__single--content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5.5rem;
    padding: 1rem;
    background-color: rgba(0, 150, 136, 0.9);
    font-size: 2rem;
    transition: all 0.5s;
  }
}
.footer {
  background-color: #535461;
  padding: 7rem 0;
  font-size: 1.4rem;
  color: lightgray;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
