.btn {
  background-color: $color-primary-light;
  text-align: center;
  color: $text-color;

  &--primary {
    position: absolute;
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
  }

  &--secondary {
    position: absolute;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
  }
}

// LAPTOP SCREENS
@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .btn {
    background-color: $color-primary-light;
    text-align: center;
    color: $text-color;

    &--primary {
      position: absolute;
      font-size: 2rem;
      padding: 1.3rem 2.7rem;
      border-radius: 3rem;
    }
  }
}

// TABLET LANDSCAPE
@media only screen and (min-width: 64em) and (max-width: 74.875em) {
  .btn {
    background-color: $color-primary-light;
    text-align: center;
    color: $text-color;

    &--primary {
      position: absolute;
      font-size: 2rem;
      padding: 1.3rem 2.7rem;
      border-radius: 3rem;
    }
  }
}

// TABLET PORTRAIT (1020px - 768px)
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .btn {
    background-color: $color-primary-light;
    text-align: center;
    color: $text-color;

    &--primary {
      position: absolute;
      font-size: 1.8rem;
      padding: 1rem 2.6rem;
      border-radius: 3rem;
    }
  }
}

// SMALL SCREENS (1020px - 768px)
@media only screen and (min-width: 31.5em) and (max-width: 47.875em) {
  .btn {
    background-color: $color-primary-light;
    text-align: center;
    color: $text-color;

    &--primary {
      position: absolute;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      border-radius: 3rem;
    }
  }
}

// SMALL SCREENS ( 500px - 300px)
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .btn {
    background-color: $color-primary-light;
    text-align: center;
    color: $text-color;

    &--primary {
      position: absolute;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      border-radius: 3rem;
    }
  }
}
