@import "https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

svg {
  width: 14%;
  margin-right: 3rem;
}
