.heading-main {
  color: $text-color;
  font-size: 7rem;
  font-weight: 600;
}

.heading-sub {
  color: $color-primary-light;
  font-size: 3.5rem;
}

.text-primary {
  font-size: 2.5rem;
  color: $text-color;
}

.heading-primary {
  font-size: 5rem;
  color: $color-primary;
  font-weight: 700;
  position: relative;

  //TABLET SCREENS (1198px -1024px)
  @media only screen and (min-width: 64em) and (max-width: 74.875em) {
    font-size: 4.5rem;
    color: $color-primary;
    font-weight: 700;
    position: relative;
  }

  // TABLET PORTRAIT (1020px - 768px)
  @media only screen and (min-width: 48em) and (max-width: 63.75em) {
    font-size: 3.5rem;
    color: $color-primary;
    font-weight: 700;
    position: relative;
  }

  // SMALL SCREENS ( 766px- 500px)
  @media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
    font-size: 3rem;
    color: $color-primary;
    font-weight: 700;
    position: relative;
  }

  // SMALL SCREENS ( 500px - 300px)
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  font-size: 3rem;
  color: $color-primary;
  font-weight: 700;
  position: relative;
}
}

.heading-secondary {
  color: $color-primary-light;
  font-weight: 700;
}

.text-secondary {
  font-size: 1.8rem;
  color: $text-color;
}

.heading-tertiary {
  font-size: 2rem;
  color: $color-primary;

   // SMALL SCREENS ( 766px- 500px)
   @media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
    margin-top: 10rem;
  }

    // SMALL SCREENS ( 500px - 300px)
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  margin-top: 10rem;
}
}

// MID-SIZE SCREENS (1368px - 1200px )
@media only screen and (min-width: 75em) and (max-width: 85.5em) {
  .heading-main {
   
  }

  .heading-sub {
    color: $text-color;
    font-size: 3rem;
  }
}

// TABLET PORTRAIT (1020px - 768px)
@media only screen and (min-width: 48em) and (max-width: 63.75em) {
  .heading-main {
    color: $color-primary-light;
    font-size: 6rem;
    font-weight: 600;
  }

  .heading-sub {
    color: $text-color;
    font-size: 3rem;
  }
}

// SMALL SCREENS (1020px - 768px)
@media only screen and (min-width: 31.25em) and (max-width: 47.875em) {
  .heading-main {
    color: $color-primary-light;
    font-size: 5rem;
    font-weight: 600;
  }

  .heading-sub {
    color: $text-color;
    font-size: 2.5rem;
  }
}

// SMALL SCREENS ( 500px - 300px)
@media only screen and (min-width: 18.75em) and (max-width: 31.125em) {
  .heading-main {
    color: $color-primary-light;
    font-size: 4rem;
    font-weight: 600;
  }

  .heading-sub {
    color: $text-color;
    font-size: 2rem;
  }
}
