.aboutme {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;

  .about {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: auto;
    border: 2px solid black;
    background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(204, 234, 231, 0.9),
        rgba(0, 150, 136, 0.9)
      ),
      /* bottom, image */ url(../../img/code.jpeg);
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 67% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);

    &__img {
      width: 50%;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }

    &__text {
      font-size: 3rem;
    }
  }

  .eduskills {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 5rem;

    &__edu {
    }
    &__skills {
      margin: 0 auto;
    }
  }
}
