.contact {
  background-image: linear-gradient(
    0deg,
    rgba($color-primary-light, 0.8),
    white
  );
  border: 1px solid $color-primary-light;
  padding: 2.5rem;

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 130rem;
    margin: 0 auto;
    padding: 2rem 0;

    &--left {
      width: 50%;
      margin: auto 0;
      padding: 2rem;
    }

    &--right {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 2rem 0;
      height: 100%;
    }

    &--icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--img {
      width: 100%;
      height: 100%;
    }
  }
}

.icons {
  width: 7%;
  padding: 0 2rem;
  transition: 0.3s all;

  &:hover {
    transform: translateY(0.5rem);
  }
}
